---
const { frontmatter } = Astro.props;
---

<meta charset="utf-8" />
<h1>{frontmatter.title}</h1>
<p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
<p class="postDescription">{frontmatter.description}</p>
<p>Written by: {frontmatter.author}</p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<slot />

<style>
  .postDescription {
    font-style: italic;
  }
</style>
